*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
    padding: 5px;
    margin: auto;
}
.un-order{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 5px solid black;
    margin: auto;
    list-style: none;
    text-decoration: none;
}
.list-item{
   
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}
.list-item a{
  color: #524f4f;
  text-decoration: none;
}
.un-order .un-order .list-item a:hover{
    color: burlywood;
    background-color: black;
    transition: .3s ease-in;
}